.Switcher {
	font-size: 16px;
	display: block;
	width: 10em;
	height: 3em;
	border: 1px solid #67AFE9;
	position: relative;
	border-radius: 0.5em;
	box-shadow: 0px 0px 0.5em #67AFE9;
}
	.Switcher input[type=checkbox] {
		cursor: pointer;
		opacity: 0;
		font-size: inherit;
		padding: 0;
		margin: 0;
		width: 10em;
		height: 3em;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
	.Switcher .Switcher-left {
		display: block;
		width: 5em;
		height: 3em;
		position: absolute;
		left: 0;
		background-color: #FFFFFF;
		border-radius: 0.5em 0 0 0.5em;
	}
		.Switcher.Switcher--isChecked .Switcher-left {
			background-color: #418BCA;
		}
	.Switcher .Switcher-right {
		position: absolute;
		display: block;
		width: 5em;
		height: 3em;
		left: 5em;
		background-color: #EEEEEE;
		border-radius: 0 0.5em 0.5em 0;
	}
		.Switcher.Switcher--isChecked .Switcher-right {
			background-color: #FFFFFF
		}