.Tabber {
	position: relative;
	padding: 0;
	background-color: transparent;
}
	.Tabber > .Tabber-view {
		background-color: #FFFFFF;
		list-style: none;
		display: none;
		padding: 1em;
		border-radius: 0 0 0.5em 0.5em;
	}
		.Tabber > .Tabber-view.active {
			display: block;
		}
		
.Tabber > .Tabber-menu {
	background-color: transparent;
	height: 3em; /* param height */
	padding: 0;
	display: block;
	overflow: hidden;
}
	.Tabber .Tabber-menu-item {
		cursor: pointer;
		background-color: #CCC;
		list-style: none;
		float: left;
		margin-right: 0.2em;
		width: 10em;
		line-height: 3em; /* param height */
		height: 3em; /* param height */
		text-align: center;
		border-radius: 0.5em 0.5em 0 0;
	}
		.Tabber .Tabber-menu-item.active {
			background-color: #FFFFFF;
		}